// https://icon-icons.com/search?q=tnt

 1 ICON "res/ico/briefcase.ico"
 2 ICON "res/ico/bookshelf.ico"
 3 ICON "res/ico/coins.ico"
 4 ICON "res/ico/diamond.ico"
 5 ICON "res/ico/settings.ico"
 6 ICON "res/ico/news.ico"
 7 ICON "res/ico/timesales.ico"
 8 ICON "res/ico/levels.ico"
 9 ICON "res/ico/msgs.ico"
10 ICON "res/ico/orders.ico"
11 ICON "res/ico/post.ico"

201 RCDATA "res/wav/md_connection_lost.wav"
202 RCDATA "res/wav/md_connection_reestablished.wav"
203 RCDATA "res/wav/trading_connection_lost.wav"
204 RCDATA "res/wav/trading_connection_reestablished.wav"
205 RCDATA "res/wav/order_cancelled.wav"
206 RCDATA "res/wav/order_partially_filled.wav"
207 RCDATA "res/wav/order_filled.wav"